@use "./container.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,700&family=Itim&family=Josefin+Sans&family=KoHo&family=Mali&family=Mitr&family=Oswald&family=Sriracha&family=Teko&display=swap");
@font-face {
    font-family: JosefinSans;
    src: url("../assets/fonts/static/JosefinSans-Regular.ttf");
}

// colors variable
$whitecolor: #ffff;
$whitecolor2: rgb(250, 250, 255);
$basecolor: rgb(91, 214, 252);
$basecolor2: rgb(165, 255, 225);
$lightbluecolor: #5cbff8;
$blackcolor: #000;
$bgnavbar: #1d1d1d;
$shadow: rgba(0, 0, 0, 0.23);

@mixin linear($number: 100%) {
    border-top-right-radius: $number;
    border-bottom-left-radius: $number;
}

@mixin addShadow($alpha: 0.45) {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, $alpha);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: JosefinSans, "IBM Plex Sans", sans-serif;
    & ::selection {
        background: $basecolor;
        color: $whitecolor;
    }
}

// navbar
nav {
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 12vh;
    background-color: $bgnavbar;
    color: aliceblue;
    .nav-logo {
        display: flex;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            color: #ffffff;
            margin: 0 15px 0;
        }
        .logo-brandname {
            font-weight: bolder;
            font-size: 31px;
            text-transform: capitalize;
        }
    }
    .nav-menu {
        margin: 0;
        padding: 0;
        width: 21rem;
        height: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        li {
            font-size: 21px;
            margin: auto 12px;
            a {
                text-decoration: none;
                &:link,
                &:visited {
                    color: $whitecolor2;
                }
                &:hover {
                    transition: all 0.356s ease;
                    color: $basecolor;
                }
            }
        }
    }
    .nav-btn {
        width: 67px;
        margin: auto 20px auto;
        button {
            text-transform: capitalize;
            font-size: 20px;
            font-weight: normal;
            border: none;
            background: $basecolor;
            color: #000000;
            cursor: pointer;
            border-radius: 50px;
            width: 8.5rem;
            height: 6vh;
            &:hover {
                transition: all 0.356s ease;
                box-shadow: 0 0 25px $basecolor;
                filter: saturate(1.4);
                color: #ffffff;
            }
            &:active {
                transform: translateY(5px);
                scale: 0.9;
            }
            i {
                font-size: 17px;
            }
        }
    }
}

.container {
    margin: 0 auto !important;
    text-align: center;
    word-wrap: break-word;
    padding: 100px;
}
.title {
    margin: 0 0 90px !important;
    .title-name {
        color: $lightbluecolor;
        font-size: 37px;
    }
    hr {
        width: 29.8rem;
        border: solid 1px rgb(83, 83, 83);
        @include linear();
    }
}

// header
header {
    height: max-content;
    background-image: url("../assets/img/bg/bg-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // filter: brightness(0.788);
    @include addShadow();
    .header-info {
        color: aliceblue;
        margin: 20px auto;
        width: 35em;
        height: 24em;
        text-align: start;
        h2 {
            font-size: 35px;
        }
        p {
            font-size: 18px;
        }
        button {
            cursor: pointer;
            border: none;
            border-radius: 7px;
            font-size: 20px;
            width: 10rem;
            height: 3rem;
            margin: 25px 15px 0 0;
            background: rgb(0, 0, 0);
            color: #ffffff;
        }
    }
}

.fa-container {
    padding: 25px 70px 0;
    width: 100%;
    height: 40px;
    .fa-socia {
        cursor: pointer;
        display: flex;
        .fa-nbg {
            cursor: default;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 13px;
            .fa-line {
                width: 18rem;
                height: 2.67px;
                background-color: #111111;
            }
        }
        .fa-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1b1b1b;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            margin: 0 6px;
            i {
                color: #f0f0f0;
                margin: 0 10px;
                font-size: 26px;
                transition: all 0.23s ease;
                &:hover {
                    color: $basecolor;
                }
            }
        }
    }
}

.detail {
    display: flex;
    flex-wrap: nowrap;
    text-align: start;
    gap: 3rem;
    img {
        object-fit: cover;
        border: #000 7px inset;
        width: 520px;
        max-width: 540px;
        min-width: 320px;
        height: 300px;
    }
    .detail-img img + span {
        font-style: italic;
        text-align: center;
        font-size: 15px;
        color: rgb(90, 90, 90);
    }
    h4 {
        font-size: 19px;
        font-weight: bolder;
        text-transform: capitalize;
    }
    article p {
        text-indent: 45pt;
        overflow: hidden;
    }
}

.detail2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    img {
        width: 370px;
        max-width: 540px;
        min-width: 320px;
        height: 500px;
    }
    ul {
        list-style-type: decimal;
        li {
            margin: 5px 0 3px 0;
        }
    }
}

.more-detail {
    display: block;
    margin: 20px 0 20px;
    position: relative;
    height: 45vh;
    max-height: 63vh;
    min-height: 42vh;
    width: 100%;
    background-image: url("../assets/img/bg/bg-ishan-seefromthesky.jpg");
    background-position: center;
    background-size: cover;
    @include addShadow();
    .text-detail {
        width: 39rem;
        color: $whitecolor2;
        position: absolute;
        top: 5%;
        left: 28%;
        padding: 20px;
        text-align: center;
        h2 {
            font-size: 30px;
        }
        button {
            text-transform: capitalize;
            cursor: pointer;
            margin: 15px 0;
            height: 3rem;
            width: 8rem;
            background: transparent;
            border: solid 3px $whitecolor2;
            color: $whitecolor2;
            font-size: 19px;
            font-weight: 500;
            border-radius: 10px;
            transition: 0.24s all ease-in;
            &:hover {
                background: $whitecolor2;
                color: $blackcolor;
            }
        }
    }
}

.more-detail2 {
    height: 59vh;
    width: 100%;
    background-image: url("../assets/img/bg/bg-seafood-restaurant.jpg");
    @include addShadow(0.6);
    input {
        text-indent: 2.3pt;
        padding: 3px;
        margin: 9px 0 13px;
        width: 24rem;
        height: 2.3rem;
        font-size: 18px;
        outline: none;
        border: none;
    }
}

.owl-carousel {
    height: 400px;
    width: 100%;
    padding: 50px 50px 0;
    .items {
        display: flex;
        align-items: center;
        width: 150px;
        height: 190px;
        margin: 0;
        color: #000000;
    }
    .owl-item {
        img {
            filter: grayscale(1);
            transition: all 0.3s ease;
            &:hover {
                transform: scale(1.25);
                filter: grayscale(0);
            }
        }
        width: 150px;
        margin: 0;
    }
    .active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .owl-nav {
        .owl-next span,
        .owl-prev span {
            position: absolute;
            top: 25%;
            visibility: hidden;
            font-size: 70px;
            background: #333333;
            color: $whitecolor2;
            &:hover {
                color: $whitecolor2;
            }
        }
        .owl-next span {
            right: 0;
        }
        .owl-prev span {
            left: 0;
        }
    }
    .owl-dots {
        margin: 30px 0;
    }
}

.container {
    .menu {
        .menu-name {
            font-size: 35px;
            text-align: start;
        }
        .menu-grid-container {
            margin: 32px 0;
            display: grid;
            grid-template-columns: repeat(4, 3fr);
            grid-template-rows: repeat(3, 3fr);
            grid-column-gap: 3rem;
            grid-row-gap: 3rem;
            .card {
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    box-shadow: $shadow 0px 13px 26px, $shadow 0px 13px 26px;
                }
                transition: all 0.3s ease-in-out;
                cursor: default;
                border-radius: 25px;
                box-shadow: $shadow 0px 3px 6px, $shadow 0px 3px 6px;
                background-color: #f0f0f0;
                width: 300px;
                height: 400px;
                .card-body {
                    .card-img {
                        height: 50%;
                        img {
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            border-radius: 25px 25px 0 0;
                            width: 100%;
                            height: 50%;
                        }
                    }
                    .card-detail {
                        width: 100%;
                        height: 50% !important;
                        padding: 4px 13px;
                        .card-title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .card-food-name {
                                font-size: 26px;
                            }
                            .customize-name {
                                text-align: start;
                                font-size: 23px;
                            }
                            .card-food-name + h2 {
                                font-size: 26px;
                                color: #27ec00;
                            }
                        }
                        hr {
                            @include linear();
                            transform: translate(0, -14px);
                            height: 4.2px;
                            // border: none;
                            background-color: #000;
                            margin: 0;
                        }
                        p {
                            text-align: start;
                        }
                    }
                }
            }
        }
    }
    .menu2 {
        .menu-grid-container {
            grid-template-columns: repeat(4, 3fr);
            grid-template-rows: 3fr;
        }
    }
}

footer {
    cursor: default;
    width: 100%;
    height: 8vh;
    max-height: 10vh;
    min-height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #ffffff;
    div {
        a {
            &:link,
            &:visited {
                text-decoration: none;
                color: $basecolor;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
